esphome:
  name: est-poe-32
  friendly_name: EST-PoE-32

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:

# wifi:                             #WiFi cannot be active at the same time as Ethernet, but useful to keep as a fallback
#   ssid: !secret wifi_ssid
#   password: !secret wifi_password

#   # Enable fallback hotspot (captive portal) in case wifi connection fails
#   ap:
#     ssid: "Est-Poe-32 Fallback Hotspot"
#     password: "taHUFO8DGHVi"

ethernet:
  type: LAN8720
  mdc_pin: GPIO23
  mdio_pin: GPIO18
  clk_mode: GPIO17_OUT
  phy_addr: 0
  power_pin: GPIO12

esp32_ble_tracker:
  scan_parameters:
    active: true

bluetooth_proxy:
  active: true