esphome:
  name: est-poe-32-gpio-expander
  friendly_name: est-poe-32-gpio-expander

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  - platform: esphome

# wifi:
#   ssid: !secret wifi_ssid
#   password: !secret wifi_password

#   # Enable fallback hotspot (captive portal) in case wifi connection fails
#   ap:
#     ssid: "Est-Poe-32-Gpio-Expander"
#     password: "C3p6PcazMgVE"

ethernet:
  type: LAN8720
  mdc_pin: GPIO23
  mdio_pin: GPIO18
  clk_mode: GPIO17_OUT
  phy_addr: 0
  power_pin: GPIO12

i2c:
  sda: 14
  scl: 13
  scan: true

# Example configuration entry
pcf8574:
  - id: 'pcf8574_hub'
    address: 0x20
    pcf8575: true

# Individual outputs
switch:
  - platform: gpio
    name: "PCF8574 Pin #0"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 0
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #1"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 1
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #2"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 2
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #3"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 3
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #4"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 4
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #5"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 5
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #6"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 6
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  # - platform: gpio
  #   name: "PCF8574 Pin #7"
  #   pin:
  #     pcf8574: pcf8574_hub
  #     # Use pin number 0
  #     number: 7
  #     # One of INPUT or OUTPUT
  #     mode:
  #       input: true
  #     inverted: false
  - platform: gpio
    name: "PCF8574 Pin #8"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 8
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #9"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 9
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #10"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 10
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #11"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 11
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false

  - platform: gpio
    name: "PCF8574 Pin #12"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 12
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #13"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 13
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #14"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 14
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false
  - platform: gpio
    name: "PCF8574 Pin #15"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 15
      # One of INPUT or OUTPUT
      mode:
        output: true
      inverted: false

binary_sensor:
  - platform: gpio
    name: "PCF8574 Pin #7"
    pin:
      pcf8574: pcf8574_hub
      # Use pin number 0
      number: 7
      # One of INPUT or OUTPUT
      mode:
        input: true
      inverted: false
    
